
/* Propiedades de la cabecera*/
#logo{
    width: 22%;
    min-width: 300px;
    float: left;
    margin-left: 2%;
}

#nombreyForm{
    width: 76%;
    float: left;
}

#nombreCentro{
    margin-left: 15%;
    float: left;
}

aside{
    float: right;
    margin-right: 2%;
}

hr{
    clear: both;
}

/* Propiedades del body */
#imgInicio{
    width: 100%;
}

#imgyFrase{
    float: left;
    width: 49%;
    text-align: center;
    min-width: 500px;
}

#menuPrincipal{
    float: left;
    width: 50%;
    min-width: 500px;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: lightgray;
}

#menuPrincipal ul{
    text-align: center;
    list-style: none;
    font-size: 67px;
}

#menuPrincipal ul a{
    text-decoration: none;
    color: black;
}

/* Propiedades del footer */
footer{
    text-align: center;
}

/* Menu para demas paginas */

#menuSecciones{
    text-align: center;
}

#menuSecciones ul li{
    display: inline;
    margin: 3px;
    border-left: 1px solid black;
    border-right: 1px solid  black;
}

#menuSecciones ul a{
    text-decoration: none;
    color: black;
}

/* Propiedas de la página actividades */

#actividades{
    float: left;
    width: 64%;
    text-align: center;
    min-width: 700px;
}

#actividades ul{
    list-style: none;
    /*font-size: 67px;*/
    height: 900px;
    overflow-y: auto;
}

#actividades ul a{
    text-decoration: none;
    color: black;
}

.actividad{
}

.actividad .imgActi{
    float: left;
}

.actividad .tituDescActi{
    float: right;
    width: 60%;
    height: 119px;
}

#noticias{
    float: left;
    width: 35%;
    min-width: 200px;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: lightgray;
}

#noticias ul{
    text-align: center;
    list-style: none;
    font-size: 67px;
}