
/* Propiedades de la cabecera*/
#logo{
    width: 22%;
    min-width: 300px;
    float: left;
    margin-left: 2%;
}

#nombreyForm{
    width: 76%;
    float: left;
}

#nombreCentro{
    margin-left: 15%;
    float: left;
}

aside{
    float: right;
    margin-right: 2%;
}

hr{
    clear: both;
}

/* Propiedades del body */
#imgInicio{
    width: 80%;
}

#imgyFrase{
    float: left;
    width: 49%;
    text-align: center;
    min-width: 500px;
    min-height: 750px;
    max-height: 750px;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: lightgray;
}

#menuPrincipal{
    float: left;
    width: 50%;
    min-width: 680px;
    min-height: 750px;
    max-height: 750px;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: lightgray;
}

#menuPrincipal ul{
    text-align: center;
    list-style: none;
    font-size: 67px;
}

#menuPrincipal ul a{
    text-decoration: none;
    color: black;
}

/* Propiedades del footer */
footer{
    text-align: center;
}

/* Menu para demas paginas */

#menuSecciones{
    text-align: center;
}

#menuSecciones ul li{
    display: inline;
    margin: 3px;
    border-left: 1px solid black;
    border-right: 1px solid  black;
}

#menuSecciones ul a{
    text-decoration: none;
    color: black;
}

#menuSeleccionado{
    font-weight: bold;
    font-size: 120%;
}

/* Propiedas de la página actividades */

#actividades{
    float: left;
    width: 64%;
    text-align: center;
    min-width: 700px;
}

#actividades ul{
    list-style: none;
    min-height: 744px;
    max-height: 800px;
    overflow-y: auto;
}

#actividades ul a{
    text-decoration: none;
    color: black;
}

.actividad .imgActi{
    float: left;
    width: 30%;
}

.actividad .imgActi1{
    width: 100%;
}

.actividad .tituDescActi{
    float: right;
    width: 60%;
    height: 178px;
}

#noticias{
    float: left;
    width: 35%;
    min-width: 200px;
    min-height: 850px;
    max-height: 900px;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: lightgray;
}

#noticias ul{
    text-align: center;
    list-style: none;
}

.imgNoti{
    width: 40%;
}

/* Propiedades de la pagina de actividad individual */

#actividadInd{

    float: left;
    text-align: center;
    width: 49%;
    min-width: 700px;
    
}

#actividadInd h1{
    margin-top: 60px;
    margin-bottom: 100px;
}

#actividadInd .imgActi{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 100px;
}

#actividadInd .imgActi1{
    width: 100%;
}

#descActi{
    font-size: 130%;
}

#menuActividades{
    float: left;
    width: 50%;
    text-align: center;
    min-width: 700px;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: lightgray;
}

#menuActividades ul{
    list-style: none;
    min-height: 744px;
    max-height: 800px;
    overflow-y: auto;
}

#menuActividades ul a{
    text-decoration: none;
    color: black;
}

/* Propiedades de la pagina de técnicos */

.tecnicoInd{
    text-align: center;
    width: 32%;
    float: left;
    margin: 2px;
}

.imgTecni1{
    width: 100%;
}

#tecnicos ul{
    list-style: none;
}

#tecnicos ul li{
    display: inline;
}